:root {
    --loyalty-background-color: white;
    --loyalty-app-color: white;
    --loyalty-text-color: #494A4B;
    --loyalty-button-color: #FF7E00;
    --loyalty-highlight-color: #FF002E;
    --loyalty-phone-color: #39687E;
    --loyalty-sensor-color:#88a4b1;
    --loyalty-divide-color:aliceblue;
}

.loyalty {
    padding: 0;
    margin: 0;
    background-color: var(--loyalty-background-color);
    /* #F5F8FA; #33729b; #9f805e; */
    /*    font-family: 'Open Sans', sans-serif;*/
    font-family: 'IBM Plex Sans', sans-serif;
    /* font-family: 'Questrial', sans-serif; */
    -webkit-font-smoothing: antialiased;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: var(--loyalty-text-color);
}

.container {
    width: 900px;
    height: 600px;
    margin: 70px;
    background: var(--loyalty-app-color);
    display: flex;
    flex-direction: row;
}

.navigation {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-right: 50px;
}

.app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 50%;
    /* background: aliceblue; */
}

.titlebar {
    display: flex;
    flex-direction: row;
}

.logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

.icon {
    width: 40px;
}

.title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin: 10px;
    text-transform: uppercase;
    font-weight: bold;
}

.about {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-content: center;
    align-items: center;
    margin: 10px;
    margin-left: 5px;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    word-spacing: 2px;
}

.instruction {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-content: center;
    align-items: center;
    margin: 10px;
    margin-left: 5px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    word-spacing: 2px;
    color: var(--loyalty-button-color);
}

.linkbar {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.linktext {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin: 10px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
}

.frame {
    height: 100%;
    width: 75%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid var(--loyalty-phone-color);
    box-shadow: 0 5px 5px -3px rgba(0,0,0,.2), 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12);
    /* border-radius: 20px;
    background: #FFFFFF;
    box-shadow:  31px 31px 71px #7d7d7d, 
                 -31px -31px 71px #ffffff; */
    

}

.sensors {
    flex-direction: row;
    width: 50%;
    height: 18px;
    background: var(--loyalty-phone-color);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.view {
    height: 100%;
}

.viewtitle {
    display: flex;
    flex-direction: row;
    height: 50px;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
}

.mobilenav {
    height: 80px;
    width: 100%;
    display: none;
    /* visibility: hidden; */
    /* background: aliceblue; */
}

.sensor{
    height: 4px;
    width: 4px;
    border-radius: 4px;
    background:var(--loyalty-sensor-color);
    margin: 4px;

}