:root {
    --loyalty-background-color: white;
    --loyalty-app-color: white;
    --loyalty-text-color: #494A4B;
    --loyalty-button-color: #FF7E00;
    --loyalty-highlight-color: #FF002E;
    --loyalty-phone-color: #39687E;
    --loyalty-sensor-color:#88a4b1;
    --loyalty-divide-color:aliceblue;
    --loyalty-highlight-color:#fff2e5;
}

.loyalty {
    padding: 0;
    margin: 0;
    background-color: var(--loyalty-background-color);
    /* #F5F8FA; #33729b; #9f805e; */
    /*    font-family: 'Open Sans', sans-serif;*/
    font-family: 'IBM Plex Sans', sans-serif;
    /* font-family: 'Questrial', sans-serif; */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: var(--loyalty-text-color);
}

.container {
    width: 900px;
    height: 600px;
    margin: 70px;
    background: var(--loyalty-app-color);
    display: flex;
    flex-direction: row;
}

.navigation {
    display: flex;
    min-height: 15%;
    max-height:15%;
    flex-direction: column;
    width: 50%;
    padding-right: 50px;
}

.app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 50%;
    /* background: aliceblue; */
}

.titlebar {
    display: flex;
    flex-direction: row;
}

.logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

.icon {
    width: 40px;
}

.title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin: 10px;
    text-transform: uppercase;
    font-weight: bold;
}

.about {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-content: center;
    align-items: center;
    margin: 10px;
    margin-left: 5px;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    word-spacing: 2px;
}

.instruction {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-content: center;
    align-items: center;
    margin: 10px;
    margin-left: 5px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    word-spacing: 2px;
    color: var(--loyalty-text-color);
}

.linkbar {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.linktext {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin: 10px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
}

